.container {
    --background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.container:hover {
    --background-color: #2C2C2C;
}
