.container {
    --background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 2rem;
    border: none;
    box-sizing: border-box;
    gap: 1rem;
}

.avatar {
    cursor: pointer;
}

.avatar svg {
    fill: #A8A8A8;
}
