.container {
    --background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.container svg {
    fill: #A8A8A8;
}
