.container {
    --background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 2rem;
    border: none;
    box-sizing: border-box;
    gap: 1rem;
}

.avatar {
    cursor: pointer;
}

.effects {
    transition: .5s;
    opacity: 1;
    position: absolute;
}

.hide {
    opacity: 0;
}

.widgets {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 64px;
    width: 240px;
}
