.widget {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.widget:hover {
    cursor: pointer;
}

.metadata {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.metaLeftContainer {
    display: flex;
    flex-direction: column;
}

.levelLabel {
    font-size: 24px;
    font-weight: 600;
}

.titleLabel {
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
}

.progressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.level {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
